:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  font-family: "Inter", sans-serif;
}

.body {
  background-color: #fafafa;
}

.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 24px;
}

.header a.logo {
  padding-left: 60px;
  font-size: 25px;
  font-weight: 800;
  line-height: normal;
  font-style: bold;
}

.header-right {
  margin-right: 5%;
  float: right;
}

.banner {
  background: linear-gradient(
    to left,
    rgba(129, 158, 201, 0),
    rgba(23, 86, 182, 0.68)
  );
  display: flex;
  justify-content: space-between;
  height: 374px;
  align-items: center;
  padding-right: 24px;
}

.banner-left {
  margin-left: 60px;
}

.banner-left h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.banner-left p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: -20px;
  color: rgba(0, 0, 0, 0.7);
}

.banner-left input {
  max-width: 360px;
  width: 60%;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border: 0;
  padding: 0 20px 0 20px;
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.banner-left input::placeholder {
  color: rgba(20, 20, 20, 0.5);
}

.banner-left button {
  width: 100px;
  height: 40px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background-color: #1763b6;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.logo-banner {
  margin-right: 76px;
}

.clientes h2 {
  color: #141414;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  padding-left: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.clientes-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px 24px;
}

.categorias h2 {
  padding-left: 24px;
  margin-top: 22px;
}

.cards-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  margin: 22px 0px;
}

.card-categorias {
  margin-top: 8px;
  width: 172px;
  border-radius: 6px;
  border: 0.1px solid #000;
  background: rgba(164, 34, 34, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-right: 24px;
  padding: 24px 10px 24px 10px;
}

.card-categorias h3 {
  font-family: "Inter", sans-serif;
  margin-top: 8px;
  font-weight: 600;
}

.card-categorias a {
  font-family: "Inter", sans-serif;
  margin-top: 16px;
  font-weight: 400;
  color: #707070;
}

.vagas {
  background-color: #a0bef3;
}

.vagas h2 {
  padding-top: 22px;
  padding-left: 24px;
  font-weight: 700;
}
.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 24px;

  margin: 0 auto;
  width: max-content;

  padding: 22px 0px;
}

.card {
  font-family: "Inter", sans-serif;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 230px;
  width: 196px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 1px 0 black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: "Inter", sans-serif;
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before,
.card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

.vagas-recentes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-left: 24px;
}

.vagas-recentes h2 {
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 0px;
  margin: 22px 0px;
}
.vagas-recentes p {
  margin-top: 8px;
  color: #707070;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.vagas-recentes-row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.vagas-recentes-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.vagas-recentes-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.vagas-recentes-card img {
  width: 72px;
  height: 72px;
}

.vagas-recentes-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.vagas-recentes-tags {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}

.vagas-recentes-card span {
  display: inline-flex;
  height: 12px;
  align-items: center;
  color: #1a202c;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-right: 12px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
  background: var(--gray-200, #e2e8f0);
}

.footer {
  background-color: #ffffff;
  min-height: 245px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  flex: 1;
}

.footer-matriz {
  width: 20%;
}

.footer h3 {
  font-family: "Inter", sans-serif;
  color: #303030;
  font-size: 20px;
  font-weight: 800;
}

.footer p {
  margin-top: 8px;
  font-family: "Inter", sans-serif;
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.footer-social-icons {
  margin-top: 8px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .logo-banner {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .footer-contato {
    margin-top: 20px;
  }

  .footer-social {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .footer-matriz {
    margin-top: 28px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

@media screen and (max-width: 760px) {
}
